@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin border-color($card-colours) {
  content: "";
  display: block;
  height: 5px;
  background-color: $card-colours;
}

@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
