@import "./resets";
@import "./variables";
@import "./mixins";
@import "./component";

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  font-size: 15px;
  padding:3rem;
}

article {
  margin-top: 3rem;
}

@include mobile{
  body{
    padding: 2.5rem;
  }
}